.albumDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.albumDetails.is-center {
  align-items: center;
}

.albumDetails.is-star {
  align-items: flex-start;
}

.albumDetails-name {
  font: var(--headline1);
  color: var(--white);
  margin: 0;
}

.albumDetails-follow {
  font: var(--baseFont);
  color: var(--white);
  margin: 0;
}
