.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  backdrop-filter: blur(0.5rem);
}

@supports not(backdrop-filter: blur(0.5rem)) {
  .header {
    background: var(--gray50);
  }
}

